<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn from a pro</h1>
		<br />
		<h2>We are the best</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
		<br /><br />
	</div>
</div>

